<html>
<head>
<title> Form for students </title>

<link rel="stylesheet" href="C:\Users\IOP Technologies 2\Desktop\HTML FORM\Css\Form1.css">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="C:\Users\IOP Technologies 2\Desktop\HTML FORM\Scripts\form1.js"></script>

</head>
<body>
<h3 align="center">Student Form</h3>
<form id="form123">

<table align='center'>
<tr>	
	<td>Name:</td>
	<td> <input  type="text" id="Name" name="Name"  > </td>
</tr>
 <tr>
	<td>Usn:</td>
	<td> <input type="text" id="Usn" name="Usn"> </td>
</tr>
<tr>
	<td>Dob:</td>
	<td>   <input type="date" id="Dob" name="Dob"> </td>
</tr>
<tr>
  <td>Branch:</td>
  <td><select id="branch_id">
  <option>---select branch---</option>
</tr>
<tr>
	<td> University:</td>
	<td><select id="university_id">
	<option>---select university---</option>
</select>
</tr>
<tr>
	<td>College:</td>
	<td><select id="college_id"> </td>
</tr>
<tr>
   <td><input type="button" Value="submit" ></td>
   <td><input type="button" Value="clear" onclick="clearResults()">
</tr>
</table>
 
</form>
</body>
</html>

